.header__title{
  font-family: $raleway;
  font-size: $x-large;
  font-weight: $light;

    span{
      font-weight: $bold;
  }
}

.section-1__title{
  font-family: $raleway;
  font-size: $large;
  font-weight: $bold;
}

.section-1__text{
  font-family: $raleway;
  font-size: $medium;
  font-weight: $regular;
}

.section-2__title{
  font-family: $raleway;
  font-size: $large;
  font-weight: $bold;
}

.section-2__text{
  font-family: $raleway;
  font-size: $medium;
  font-weight: $regular;
}

.section-3__title{
  font-family: $raleway;
  font-size: $x-large;
  font-weight: $bold;
}

.section-3__article-title{
  font-family: $raleway;
  font-size: $large;
  font-weight: $bold;
}

.section-3__text{
  font-family: $raleway;
  font-size: $medium;
  font-weight: $regular;
}

.section-4__title{
  font-family: $raleway;
  font-size: $large;
  font-weight: $bold;
}

.section-4__button-big{
  font-family: $raleway;
  font-size: $large;
  font-weight: $bold;
}
