.section-3__title{
  background-color: $jelly-bean;
  color: $white;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 0;
  }

.section-3{
  background-color: $snow;
  text-align: center;
  color: $granite-gray;
  padding-bottom: 2em;

  }

.section-3__img{
  width: 40%;
  padding-top: 2em;
  }

.section-3__content{
  width: 50%;
  margin-left: 25%;




  }

.section-3__text{
  text-align: justify;
  }
