.section-2__img{
  width: 80%;
  padding-top: 5em;
  }

.section-2{
    text-align: center;
    background-color:$snow;
    color: $granite-gray;
    height: 50em;
    margin-bottom: 0;
    padding-bottom: 3em;
    }

.section-2-content{
  width: 50%;
  margin-left: 25%;
  }

.section-2__text{
    text-align: justify;
    }
