.section-1__img{
  width: 80%;
  padding-top: 5em;
  }

.section-1{
  text-align: center;
  background-color:$taupe-gray;
  color: $white;
  height: 50em;
  margin-bottom: 0;
  padding-bottom: 5em;
  }

.section-1-content{
  width: 50%;
  margin-left: 25%;
  }

.section-1__text{
  text-align: justify;
  }
